<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server</title>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
</head>
<body>
    <div class="text-left mx-3">
        <h2>Python Flask Todo Memo</h2>
    </div>
    
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand mb-0 h1" href="/">About</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar"> 
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="myNavbar">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/all">모든 항목</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/active">해야 할 항목</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/completed">완료된 항목</a>
                </li>
            </ul>
        </div>
    </nav>

    {% block content %}{% endblock %}
    
    <footer class="fixed-bottom bg-dark text-light align-items-center px-3">
      <div class="container">
          <div class="d-flex float-left">
            <a href="https://github.com/neltia/flask-project"><input type="image" 
                src="static/images/github.png" width="40" style="border:solid navy; border-radius: 50%;"></a>
          </div>

          <div class="d-flex justify-content-end">
            <div>
              <span class="glyphicon glyphicon-earphone"></span>
              <p>tel: dsz08082@naver.com</p>
            </div>
          </div>
      </div>
    </footer>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
</body>
</html>