{% extends "base.html" %}
{% block content %}
<body style="text-align: center;">
    <div class="card shadow-sm mx-5 mt-4">
        <div class="card-header font-weight-bold">
            Update memo
        </div>

        <div class="card-body">
            {% for task in tasks %}
            Unique Object ID : {{ task['_id'] }}<br/>
            <form action="/action2" method="POST" class="input-group mx-3">
                <input type="text" name="_id" value="{{ task['_id'] }}" hidden>
                <input type="text" name="contents" class="form-control" 
                placeholder="{{ task['contents'] }}" value="{{ task['contents'] }}"
                pattern="\S.{1,50}" title="2글자에서 50글자 사이 문자열을 입력하세요"><br>
                <div class="input-group-append">
                    <select name="primary" class="form-control">
                        <option selected disabled>중요도 선택</option>
                        <option>Low</option>
                        <option>Medium</option>
                        <option>High</option>
                    </select>
                </div>

                <div class="input-group-append">
                    <button type="submit" class="btn btn-outline-secondary">변경</button>
                </div>
            </form>
            {% endfor %}
        </div>
    </div>
</body>
{% endblock %}